<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
  <connectionStrings>
    <!---沃森新ERP-->
    <add name="SQLConnStringVOCEN" connectionString="Data Source=10.0.2.12;database=VOCEN2018;User ID=sa;Password=abc@123" />
    <add name="SQLConnString" connectionString="Data Source=10.0.2.21;database=VOCEN2013;User ID=sa;Password=VOCENqwe369" />
    <add name="SQLConnString_New" connectionString="Data Source=10.0.2.12;database=VOCEN2013;User ID=sa;Password=abc@123" />
    <add name="VOCEN2018ConnString" connectionString="Data Source=10.0.2.12;database=VOCEN2018;User ID=sa;Password=abc@123" />
    <add name="WsgcSQLConnString" connectionString="Data Source=.;database=WSGC;User ID=sa;Password=1" />
    <add name="WssybSQLConnString" connectionString="Data Source=10.0.2.12;database=WSSYB;User ID=sa;Password=abc@123" />
    <add name="SQLConnStringTUJI2019" connectionString="Data Source=10.0.2.12;database=TUJI2019;User ID=sa;Password=abc@123" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
</configuration>
