<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>


    <!---沃森新ERP-->
    <add name="SQLConnStringVOCEN" connectionString="Data Source=10.0.2.12;database=VOCEN2018;User ID=sa;Password=abc@123" />
		<add name="SQLConnString" connectionString="Data Source=10.0.2.21;database=VOCEN2013;User ID=sa;Password=VOCENqwe369" />
    <add name="SQLConnString_New" connectionString="Data Source=10.0.2.12;database=VOCEN2013;User ID=sa;Password=abc@123" />
    <add name="VOCEN2018ConnString" connectionString="Data Source=10.0.2.12;database=VOCEN2018;User ID=sa;Password=abc@123" />


    <add name="WsgcSQLConnString" connectionString="Data Source=10.0.2.12;database=WSGC;User ID=sa;Password=abc@123" />
    <add name="WssybSQLConnString" connectionString="Data Source=10.0.2.12;database=WSSYB;User ID=sa;Password=abc@123" />
    <add name="SQLConnStringTUJI2019" connectionString="Data Source=10.0.2.12;database=TUJI2019;User ID=sa;Password=abc@123" />
    <!---沃森新ERP管理数据库-->
    <add name="DscSysSQLConnString" connectionString="Data Source=10.0.2.12;database=DSCSYS;User ID=sa;Password=abc@123" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows" />
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<sessionState mode="InProc" timeout="20"></sessionState>
        
		<pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" /></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<defaultDocument>
			<files>
				<remove value="Default.asp" />
				<remove value="index.htm" />
				<remove value="index.html" />
				<remove value="iisstart.htm" />
				<remove value="default.aspx" />
				<remove value="Default.htm" />
				<add value="login.htm" />
			</files>
		</defaultDocument>
	</system.webServer>
    <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="OptionInfer" value="true" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
